*{
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
}

footer{
    display: flex;
    background-color: black;
    font-family: 'Open Sans', sans-serif;;
}

#section-container{
    display: flex;
    
    justify-content: space-between;
}